/*USERVIEW -- BARRA LATERAL */

.userView-container{
  float: left;
  padding-left: 20px;
  margin-bottom: 20px;
  word-wrap:break-word;
  word-break:break-all;
}
#materialbox-overlay {
    position: fixed;
}
.userView-avatar{
display: inline-block;
float:left;
}
.userView-rank{
  color: whitesmoke;
}

.user-list-child{
  margin-top:5px;
  margin-bottom:5px;
}

.user-list-avatar{
  height:100%;
  width:auto;
}
.chat-user-view-icon {
    position: absolute;
}
.user-list-name {
  position:absolute;
  top:0;
  margin-left:10px;
}

/*//////////////////////////////////////////*/

/*MAIN -- BARRA PRINCIPAL */

.main {
  padding-left: 300px;
  height:100vh;
  overflow:hidden;
}

@media only screen and (max-width : 992px) {
  .main {
    padding-left: 0;
  }
}

/*//////////////////////////////////////////*/

/*MAIN-TOP  */

.main-top{
  height:100px;
  width:100%;
}
.options-button{
 position: absolute;
  right:15px;
  top:0px;
  bottom:calc(100vh - 360px);
}

/*//////////////////////////////////////////*/

/*MESSAGE-COLUMN */

.message-column{
  overflow-y: auto;
  overflow-x: hidden;
  height:calc(100% - 200px);
  width:100%;
}

#message-collection{
  overflow-y:visible !important;
  margin-bottom: 0px;
}

.message{
  overflow-y:visible !important;
}

.message-name{
  font-weight: 500;
}

.message-hour{
 float:right;
}

.message-line{
  word-break: break-all;
}

.generic-message{
 color:white;
 background-color:#F44336 !important;
}

.message-options-button{
  width:20px !important;
  height:20px !important;
  opacity:0;

}

.message-options-button:hover{
  opacity:1;

}

/*//////////////////////////////////////////*/

/*MAIN-BOTTOM */

.main-bottom{
  height:100px;
  width:100%;
}

.input-field label {
  color: #FFFFFF;
}

#inputdefault{
  color:#FFFFFF;
  max-width: calc(100% - 50px);
}

.emoji-button {
    display: flex;
    align-items: center;
    justify-content:center;
    max-width:80px;
    max-height: 80px;
    position:absolute;
    bottom:25px;
    right:20px;
}
.emoji-button.img {
    text-align: center;
}
body {
    background-color: rgb(73,10,61);
}

/*//////////////////////////////////////////*/

/*MAIN-TOP */

.promise-list{
  color:#FFFFFF;
  margin-top:40px;
  margin-left:80px;
  margin-right:80px;
}

/*//////////////////////////////////////////*/

/*CONFIGURAÇÕES */

.modal-content{
}

.config-menu{
}

.config-options{

}

.theme-option{

max-width:360px;
transition: background-color 0.5s linear 0s;
}

.theme-option.active{
  background-color:#26a69a !important;
}

.theme-preview-icon{
color:#26a69a;
font-size:30px;
position:absolute;
right:10px;
top:10px;
}

.theme-preview-name{
color:#26a69a !important;
}

/*//////////////////////////////////////////*/

/*SCROLL */



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    /*  background-color: #eaeaea;
    border-left: 1px solid #ccc;*/
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #2A363B;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2e2e2e;
}

/*//////////////////////////////////////////*/
